
/* 
 .parent{
    position: relative;
    background-color: aqua;
    box-sizing: border-box;
    border:  2px solid black;
    border-radius: 5px;
    height: 500px;
    
 }
 
 .one{
    position: absolute;
    background-color: brown;
    left:150px;
    top: 10px;
    right: 150px;
    box-sizing: calc(50%-50%);
    border: 2px solid black;
    align-items: center;
    height: 100px;
    width: 200px;
 }
 .two{
    position:fixed;
    box-sizing: calc(50%-50%);
    border: 2px solid black;
    align-items: center;
    bottom: 200px;
    background-color: cadetblue;
    left:600px;
    height: 50px;
    width: 100px;
 } */



 .top-div{
    box-sizing: border-box;
    border: 2px solid black;
   
 }
.parent{
  display: flex;
  justify-content: space-around;
  
  
}
.image{
    height: 350px;
    width: 600px;
}
.parent .para{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 150px;
    word-wrap:normal;
    
}
.images{
    position: relative;
    height: 300px;
    width: 400px;
    right: 1100px;
}
.side-info{
    position: relative;
    left: 500px;
}























































