.box-size{
    background-color:pink;
    box-sizing: border-box;
    height: 600px;
    width: 1000px;
}


.image-lg{
    height: 30px;
    width: 30px;
    border-radius: 100%;

}
.search{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.image-box{
    height: 30px;
    width: 30px;
}
.parent-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    padding-left: 180px;
}